# Interact Page Composer
INTERACT_API_DOMAIN=https://us-lb-api-01.interactgo.com
INTERACT_TENANT_GUID=
INTERACT_API_KEY=
INTERACT_API_SECRET=
INTERACT_PERSON_ID=
INTERACT_PAGE_ID=

# Notion Properties database
NOTION_TOKEN=
NOTION_DATABASE_ID=
